@media screen and (max-width: 600px){
    body{
        font-size: 14px;
    }
    .outer>img{
        width: 100px;
        margin-bottom: 24px;
    }
    nav{
        padding: 8px 12px;
    }
    .user{
        margin-bottom: 16px;
    }
    .box{
        width: 94%;
        margin-left: 3%;
    }
    .mt{
        text-align: center;
    }
    .formlogin>p{
        margin: 24px 5%;
    }
    .content-header{
        width: 90%;
        margin-left: 5%;
    }
    .sumbox{
        flex-direction: column;
        align-items: center;
    }
    .addbtn{
        bottom: 20px;
        right: 20px;
    }
    .inline{
        text-align: center;
    }
    .conbox{
        width: 90%;
        margin: 5%;
    }
    .singleticket{
        width: 360px;
    }
    .soingleticket>h3{
        padding: 8px 16px;
    }
    .rightinfo>span:nth-child(2){
        margin-top: 0;
        font-size: 0.7em;
    }
    .detrequestor{
        padding: 8px 16px;
    }
    .detrequestor>button{
        margin-top: 12px;
    }
}