@media screen and (max-width: 600px){
    body{
        font-size: 14px;
    }
    .outer>img{
        width: 100px;
        margin-bottom: 24px;
    }
    nav{
        padding: 8px 12px;
    }
    .user{
        margin-bottom: 16px;
    }
    .box{
        width: 94%;
        margin-left: 3%;
    }
    .mt{
        text-align: center;
    }
    .formlogin>p{
        margin: 24px 5%;
    }
    .content-header{
        width: 86%;
        margin-left: 7%;
    }
    .sumbox{
        flex-direction: column;
        align-items: center;
    }
    .addbtn{
        bottom: 20px;
        right: 20px;
    }
    .inline{
        text-align: center;
    }
    .conbox{
        width: 90%;
        margin: 5%;
    }
    .singleticket{
        width: 360px;
    }
    .soingleticket>h3{
        padding: 8px 16px;
    }
    .rightinfo>span:nth-child(2){
        margin-top: 0;
        font-size: 0.7em;
    }
    .detrequestor{
        padding: 8px 16px;
    }
    .detrequestor>button{
        margin-top: 12px;
    }
    .notifsuccess{
        width: 86%;
        margin-left: 7%;
        padding: 8px 12px;
        border-radius: 4px;
    }
    .notifsuccess>span{
        line-height: 1.5;
        font-size: 0.9em;
    }
    .notifsuccess>a{
        display: none;
    }
    .minif{
        font-size: 0.6em;
    }
    .contdet{
        flex-direction: column;
        gap: 0;
    }
    .contdet>div{
        width: 100%;
        padding: 8px 0 0 0;
    }
    .contdet>div>h4{
        margin-top: 0;
    }
    .btntutup{
        padding: 8px;
        border-radius: 4px;
        margin-top: 8px;
    }
    .content-header>a>span{
        display: none;
    }
    .topnav{
        width: 90%;
        margin-left: 5%;
        padding: 8px;
    }
    .topnav>a{
        flex: 1;
    }
}