@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    font-weight: 400;
    color: #666f70
}
.outer{
    padding: 16px;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(247,247,247)
}
.box{
    margin-top: 16px;
    padding: 32px 12px;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 20px 0 rgb(240,240,240);
}
.head{
    margin-bottom: 12px;
}
.formsec{
    padding: 8px 5%;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.formsec>input, .formsec>textarea, .formsec>button{
    resize: none;
    font-size: 1em;
    padding: 0.7em 0.9em;
    color: inherit;
    margin-top: 6px;
    border: 1px solid #ddd;
    border-radius: 6px;
}
.formsec>input:focus, .formsec>textarea:focus{
    outline: 2px solid orange;
}
.formlogin{
    margin: 12px 0;
}
.sbmt{
    background: orange;
    color:white !important;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}
.sbmt:hover, .sbmt:focus{
    outline: none;
    box-shadow: 0 0 7px 0 orange;
}
i{
    display: inline-block;
    margin-right: 4px;
    transform: translateY(2px)
}
.info{
    text-align: left;
    font-size: 0.9em;
    padding: 8px 8px;
    border-radius: 4px;
}
.blue{
    color: dodgerblue;
    background: rgb(245, 250, 255);
}
.red{
    color: crimson;
    background: rgb(255, 244, 246);
}
.formlogin>p{
    margin: 24px 5% !important;
    text-align: center;
    line-height: 1.5;
    opacity: 0.8;
    font-size: 0.9em;
}
.icon{
    color: orange;
    font-size: 0.8em;
    font-weight: 600;
    margin-right: 4px;
    display: inline-block;
    transform: translateY(-5px);
    background: rgb(255, 247, 230);
    padding: 4px 3px 4px 6px;
    border-radius: 50px;
}
.mt{
    margin: 0 5% !important;
}
nav{
    padding: 8px 24px;
    box-shadow: 0 2px 4px 0 rgb(245,245,245);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: inherit;
}
.logoffbtn{
    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.3s;
    cursor: pointer;
}
.logoffbtn:hover{
    background: rgb(247,247,247);
}
.content-header{
    width: 80%;
    margin-left: 10%;
    padding: 16px 0;
}
.content-header>a{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(247,247,247);
}
.sumbox{
    padding: 24px;
    background: rgb(247,247,247);
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 24px;
}
.eachcontent{
    width: 320px;
    cursor: pointer;
    padding: 16px;
    background: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
    transition: all 0.3s;
}
.eachcontent>div>p{
    font-size: 0.8em;
    opacity: 0.8;
    margin-top: 4px;
}
.eachcontent:hover{
    box-shadow: 0 0 15px 0 rgb(230,230,230);
    transform: translateY(-3px);
}
.progress{
    background: rgb(255, 251, 243);
    color: orange;
}
.pad{
    border-radius: 4px;
    text-align: center;
    height: 100%;
    padding: 4px 12px;
}
.done{
    background: rgb(244, 255, 244);
    color: limegreen;
}
.welcom{
    margin: 0px 0 24px 0;
}
.trans{
    display: inline-block;
    transform: translateY(4px);
    margin-right: 8px;
}
.fi-rr-caret-right{
    transform: rotate(90deg)
}
.mini{
    display: block;
    font-size: 0.4em;
}
.fi-rr-plus{
    transform: translate(1px, 3px);
}
.addbtn{
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 12px;
    border-radius: 50px;
    background: orange;
    color: white;
    font-size: 1.2em;
    box-shadow: 0px 0px 15px 0 rgb(255, 199, 96);
    border: 1px solid orange;
    transition: all 0.3s;
}
.addbtn:hover{
    box-shadow: 0 0 20px 0 orange;
    transform: translateY(-3px);
}
.inline{
    display: inline-block;
    margin-top: 12px !important;
}
.eachcontent>div{
    flex: 1;
}
.review{
    padding: 8px 16px;
    width: 100%;
    background: white;
    color: inherit;
    font-size: 0.8em;
    border: 2px solid #666f70;
    border-radius: 50px;
    margin-top: 12px;
    cursor: pointer;
    transition: all 0.3s;
}
.review:hover{
    background: #666f70;
    color: white;
}
.eachcontent>h1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-2px);
}
.colwarn{
    color: orange;
}
.colgreen{
    color: limegreen;
}
.colblue{
    color: dodgerblue;
}
.addbox::-webkit-scrollbar{
    display: none;
}
.addbox{
    position: fixed;
    overflow: auto;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(57, 57, 57, 0.8);
}
.conbox{
    width: 50%;
    margin: 3% 25% 3% 25%;
    background: white;
    border-radius: 12px;
    animation: turn 0.5s ease;
}
.user{
    margin: 8px 0;
    opacity: 0.8
}
@keyframes turn{
    from{
        transform: translateY(-200px);
    }
    to{
        transform: translateY(0);
    }
}
.conbox>h2{
    padding: 0.8em 1em;
    background: rgb(245,245,245);
    display: flex;
    border-radius: 8px 8px 0 0;
    align-items: center;
    justify-content: space-between;
}
.form{
    padding: 15px 15px 24px 15px;
}
::placeholder{
    color: rgb(220,220,220)
}
.btnfield{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 24px;
}

.btnfield>a{
    display: inline-block;
    font-size: 1em;
    padding: 0.7em 0.9em;
    border-radius: 4px;
    margin-top: 6px;
    transition: all 0.3s;
}
.btnfield>a:hover{
    background: rgb(240,240,240);
}